body { 
  /*  
  background: #ddd6f3;  /* fallback for old browsers */
/*background: -webkit-linear-gradient(to left, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to left, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    color: black; 
    text-align: center; 
    } 
    
    .container { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    } 
    
    .heading { 
    margin-bottom: 20px; 
    font-size: 3rem; 
    color: black; 
    } 
    
    .header { 
    display: flex; 
    align-items: center; 
    } 
    
    .timer, .errors, .accuracy, 
    .cpm, .wpm { 
    background-color: #fab6b4; 
    
    height: 60px; 
    width: 70px; 
    margin: 8px; 
    padding: 12px; 
    border-radius: 20%; 
    box-shadow: #E5E4E2 4px 6px 6px; 
    } 
    
    .cpm, .wpm { 
    display: none; 
    } 
    
    .header_text { 
    text-transform: uppercase; 
    font-size: 0.6rem; 
    font-weight: 600; 
    } 
    
    .curr_time, .curr_errors, 
    .curr_accuracy, .curr_cpm, 
    .curr_wpm { 
    font-size: 2.75rem; 
    } 
    
    .quote { 
    background-color: #fab6b4; 
    
    font-size: 1.5rem; 
    border-radius: 20px;
    margin: 10px; 
    padding: 25px; 
    box-shadow: #E5E4E2 4px 6px 4px; 
    } 
    
    .input_area { 
    background-color: #d7d7f8; 
    height: 80px; 
    width: 40%; 
    font-size: 1.5rem; 
    font-weight: 600; 
    margin: 15px; 
    padding: 20px; 
    border: 0px; 
    box-shadow: #E5E4E2 4px 6px 4px; 
    } 
    
    .restart_btn { 
    display: none; 
    background-color: #537cb6; 
    font-size: 1.5rem; 
    padding: 10px; 
    border: 0px; 
    box-shadow: #E5E4E2 4px 6px 6px; 
    } 
    
    .incorrect_char { 
    color: red; 
    text-decoration: underline; 
    } 
    
    .correct_char { 
    color: rgb(114, 188, 114); 
    } 
    